.cnt {
  position: relative;
}
 
.cnt::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('df');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}
  
.cnt::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #96bf02;
  opacity: 0.8;
}
  
.hr {
  width: 50%;
  border: 1px solid #fff;
  z-index: 3;
}
  
.input {
  border-radius: 25px;
  background-color: #96bf02;
  color: #fff;
  border-color: #fff;
}
  
.label {
  color: #fff;
}
  
.btn {
  color: #96bf02;
  background-color: #fff;
  border-color: #96bf02;
  font-size: 17px;
  font-weight: 500;
  border-radius: 25px;
}
  
.btn:hover {
  background-color: #96bf02 !important;
  border-color: #fff !important;
  color: #fff !important;
}
  
.zindex {
  z-index: 3;
}

.roomCard {
  width: 600px;
  background-color: #fffcf2;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 10px;
  padding: 5px;
}

.roomImg {
  width: 250px;
  min-height: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.roomInfo {
  color: var(--primary-green);
  margin-top: 50px;
  margin-left: 20px;
}


@media screen and (max-width: 890px){
  .carCard {
    width: 500px;
  }

  .carImg {
    width: 200px;
    min-height: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
}

@media screen and (max-width: 550px) {
  .form {
    flex-direction: column;
  }

  .input {
    margin: 10px 0;
  }

  .roomCard {
    width: 90%;
    min-width: 350px;
    max-width: 600px;
  }

  .roomImg {
    width: 150px;
    min-height: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }

  .roomInfo {
    margin-top: 20px;
    margin-left: 10px;
  }
}